.main_section{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding:20px;
    background-color: #e6f9e6;
}
h1{
    font-size: 55px;
    word-spacing: 10px;
    font-family: serif;
    

}

h3{
    color: rgb(5, 73, 5);
}


.Dbtn{
    background-color: rgb(144, 226, 135);
    width: 150px;
    height: 45px;
    margin: 2% 6%;
    border-radius: 20px;
    font-size: 15px;
}

.Sbtn{
    background-color: rgb(144, 226, 135);
    width: 200px;
    height: 45px;
    margin: 4% 6%;
    font-size: 15px;


}

#meal-container { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    padding: 20px; 
    background-color: #e6f9e6;} 
    
.meal { 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 15px; 
    width: 200px; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #e6f9e6;
}

.meal:hover {
    cursor: pointer;
}
.highlight {
    background-color: #a6f4ab;
    border-color: rgb(22, 180, 22) ;
    box-shadow: 0 0 10px rgb(8, 72, 8);
}

#mealimage{
    width: 200px;
}

#confirmation{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
}

#confirmation_done{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
}
