.main_section{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding:20px;
}
h1{
    font-size: 55px;
    word-spacing: 10px;
}


.Dbtn{
    background-color: rgb(144, 226, 135);
    width: 100px;
    height: 5%;
    margin: 2% 6%;
    border-radius: 20px;
}

.Sbtn{
    background-color: rgb(95, 197, 142);
    width: 200px;
    height: 6%;
    margin: 4% 6%;


}