<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/assets/favicon.png" type="image/x-icon">
    <title>Donate</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class = "main_section">
        <h1>&#129330;&nbsp;DONATE&nbsp;&#129330; </h1>

        <form action="" id="donate-form">
            <!--Name Input-->
            <div class = "input-form">
                <label for="full-name">Full Name</label>
                <input type="text" name="full-name" class="form-control" placeholder="Jimmy">
            </div>
            <br>
            <!--Email Input-->
            <div class = "input-form">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" placeholder="jimmym123@yahoo.com">
            </div>
            <br>
            <br>
            <br>
            <br>
            <!--Meal Name Input-->
            <div class = "input-form">
                <label for="meal-name-input">Meal Name</label>
                <input type="text" name="meal-name-input" class="form-control" placeholder="Lasagna">
            </div>
            <br>
            <br>
            <!--Meal Image Input-->
            <div class = "input-form">
                <label for="meal-image">Meal Image</label>
                <input type="file" name="meal-image" class="form-control" accept="image/*">
            </div>
            <br>
            <!--Meal Ingredients Input-->
            <div class = "input-form">
                <label for="ingredient-text">Ingredients</label>
                <input type="text" name="ingredient-text" class="form-control" placeholder="Cheese, pasta, salt">
            </div>
            <br>
            <!--Allergies Input-->
            <div class = "input-form">
                <label for=allergies-text">Allergies *INPUT ALL ALLERGIES KNOWN*</label>
                <input type="text" name="allergies-text" class="form-control" placeholder="*Common Food Allergies* Eggs, Milk, Peanuts, Shellfish, Seasame, Soy, Fruits and Vegetables, and Tree Nuts, and Wheat ">
            </div>
            
        </form>
         <!--Drop-Off and Send-->
         <div class="dropoff_send">
            <p>Choose whether to drop off the food yourself or send it through a delivery person. Drop Off means that you will be delivering the food. Send means that a delivery person will come to pick up the food from your area and then drop it off.</p>
            <button class="Sbtn">Drop Off</button>
            <button class="Sbtn">Send</button>
            

         </div>
         <footer>
            &copy; 2024 @mealshare
         </footer>

    </div>
    <script type="text/javascript" src = "../static/script.js"></script>
</body>
</html>