<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <!--<link rel="icon" href="/images/favicon.ico">-->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/assets/favicon.png" type="image/x-icon">
</head>
<body>
    <div class = "main_section">
        
        <h1>&#129367; &nbsp;SIGN IN&nbsp; &#129367;</h1>
        
        <form action="" id="signup-form">
            <!--Email Input-->
            <div class="input-form">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id ="email-signin" placeholder="Example - jimmym123@yahoo.com">
            </div>
            <br>
            <!--Password Input-->
            <div class="input-form">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id = "password-signin" placeholder="Example - jimmylovescars123">
            </div>
            <br>
            <!--Submit Button-->
            <button type="submit" class="Dbtn">Submit Form</button>
        </form>
    </div>  
    
</body>
</html>
