<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recieve</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
   <div class = "main_section">
    <h1>RECEIVE</h1>
    <div id = "meal-container">
        {% for meal in meals %}
            <div id = "meal">
                <img src = "../static/images/imagetest.png" alt = "Image">
                <h3>{{ meal[2] }}</h3>
                <h5> Ingredients - {{ meal[4] }}</h5>
                <h5>Allergies - {{ meal[5] }}</h5>
            </div>
        {% endfor %}
    </div>
   </div> 
</body>
</html>