<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/assets/favicon.png" type="image/x-icon">
</head>
<body>
    <div class = "main_section">
        
        <h1>&#129367; &nbsp;SIGN UP&nbsp; &#129367;</h1>
        
        <form action="" id="signup-form">
            <!--First Name Input-->
            <div class="input-form">
                <label for="first-name">First Name</label>
                <input type="text" name="first-name" class="form-control" placeholder="Example - Jimmy">
            </div> 
            <br>
            <!--Last Name Input-->
            <div class="input-form">
                <label for="last-name">Last Name</label>
                <input type="text" name="last-name" class="form-control" placeholder="Example - Mannings">
            </div>
            <br>
            <!--Email Input-->
            <div class="input-form">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Example - jimmym123@yahoo.com">
            </div>
            <br>
            <!--Password Input-->
            <div class="input-form">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Example - jimmylovescars123">
            </div>
            <br>
            <!--Submit Button-->
            <button type="submit" class="Dbtn">Submit Form</button>
        </form>
    </div>  
    
</body>
</html>